<%-  include("../layouts/admin_header.ejs") %>

<div id="content" class="p-4 p-md-5 pt-5">
    <h2 class="mb-4">Update Post</h2>

    <div class="container">
        <form  action="" method="POST" id="editPost">
            <div class="row">
                <div class="col-sm-12">
                    <h5>Title</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <input type="hidden" name="id" value="<%= post._id %>">
                    <input type="text" name="title" value="<%= post.title %>" placeholder="Enter post tilte" class="w-100" required>
                </div>
            </div>
            
        
            <div class="row mt-3">
                <div class="col-sm-12">
                    <h5>Content</h5>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-12">
                    <textarea type="text" name="content"  rows="5" placeholder="Enter post content" class="w-100" required> <%= post.content %></textarea>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-12">
                    <input type="submit" value="Update Post" class="btn btn-warning">
                </div>
            </div>
        </form>
      </div>
      <p style="color:green;" class="status"></p>
  </div>


 


<script>
    $(document).ready(function(){
        $('#editPost').submit(function(event){
event.preventDefault();

var obj=$(this);
var formData={};
$.each($(this).serializeArray(),function(i,field){
    formData[field.name]=field.value;
});

$.ajax({
url:"/update-post",
type:"POST",
data:formData,
success:function(data){
if(data.success== true){
 $('.status').text(data.msg);
}

else{
    $('.status').text(data.msg);
}
}
});
        });
    });
</script> 

<%-  include("../layouts/admin_footer.ejs") %>